body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/* /////navbar///// */

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(37, 37, 37);
}
nav .logo,
nav .avatar-container {
  width: 42px;
}
nav .avatar-container {
  border-radius: 21px;
  overflow: hidden;
  margin: 0 20px;
}
nav .avatar {
  width: 100%;
}
nav .info-container {
  display: flex;
  align-items: center;
}
nav .main-container {
  display: flex;
  align-items: center;
  padding: 20px;
}
nav p {
  margin: 0;
}
nav p.info {
  color: rgb(250, 250, 250);
}
nav .nav-links-container {
  display: flex;
}
nav .nav-links-container a {
  color: rgb(250, 250, 250);
  font-size: 20px;
  padding: 20px 20px 30px 20px;
  margin: 10px 10px 0 10px;
  text-decoration: none;
  background-color: rgb(37, 37, 37);
  border-radius: 20px 20px 0 0;
}
nav .nav-links-container a:hover {
  background-color: rgb(250, 250, 250);
  color: rgb(0, 0, 0);
}
nav button {
  display: none;
  border: none;
  font-size: 20px;
  color: rgb(250, 250, 250);
  background-color: rgb(119, 86, 139);
  padding: 10px 20px;
  border-radius: 20px;
}
nav button:hover {
  background-color: rgb(199, 75, 75);
}
nav button:active {
  background-color: rgb(169, 62, 62);
  color: rgb(228, 226, 226);
}

@media screen and (max-width: 840px) {
  nav {
    display: flex;
    flex-direction: column;
  }
  nav button {
    display: block;
  }
  .hidden {
    display: none !important;
  }
  nav .main-container {
    display: flex;
    justify-content: space-between;
  }
  nav .nav-links-container {
    display: flex;
    flex-direction: column;
  }
  nav .nav-links-container a {
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
  }
}
